*{
    background-color: #F4C2C2;
}
.banner {
    /* border: dashed red; */
    background-color: #D3D3D3;
    text-align: center;
    height: 80px;
    border-bottom: solid #A9A9A9 ;
}
.banner-text {
    padding-top: 1rem ;
    background-color: #D3D3D3 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container {
    /* border: dashed red; */
}
.left-txt {
    /* border: dashed purple; */
    width: 14rem;
    /* margin-top: 16rem; */
    text-align: center;
    margin-left: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    
}
.cutie-1 {
    /* border: dashed black; */
    margin-left: 8rem;
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}
.main-text {
    /* border: dashed green; */
    /* display: flex; */
}
.us {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 4rem;
    margin-top: 3rem;
  
}
.bg {
    mix-blend-mode: multiply;
    width: 370px;
    height: 370px;
}
.bg-2 {
    mix-blend-mode: multiply;
    width: 300px;
    height: 400px;
    padding-left: 1rem;
}
.imgs{
    align-items: center;
    /* border: dashed purple; */
}
.para {
    /* border: dashed brown; */
    margin-top: 2rem;
    text-align: center;
}
.love {
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pic {
    width: 300px;
    height: 300px;
}
.love-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}